* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Olivier';
    src: url('assets/font/olivier_demo.ttf') format('truetype');
}


html, body {
    overflow-x: hidden !important; /* Prevent horizontal scrolling */
    max-width: 100%; /* Ensure the maximum width does not exceed the viewport */
    background-color: #032834 !important;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #0cb3eb;
    color: #FBC757;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}



.hero {
    background-image: url('assets/Stake-Banners-BG-1920x1080 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 24px 0;
}



.decor {
    width: 150px;
    height: 150px;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 0;
}



.decor1 {
    background-image: url('assets/ball-one.png');
    left: 10%;
    top: 0%;
    transform: translateY(-50px);
}

.decor2 {
    background-image: url('assets/ball-two.png');
    left: 25%;
    top: 0%;
    transform: translateY(-350px);
}

.decor3 {
    background-image: url('assets/ball-three.png');
    left: 50%;
    top: 0%;
    transform: translateY(250px);
}

.decor4 {
    background-image: url('assets/ball-four.png');
    left: 75%;
    top: 0%;
    transform: translateY(100px);
}

@keyframes fall {
    0% { top: -150px; } /* Start just above the viewport */
    100% { top: 100vh; } /* End at the bottom of the viewport */
}

.fall {
    animation: fall 5s linear infinite;
}







.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
}

.title .container {
    border-radius: 50px;
    background-color: rgb(1, 2, 31);
    border: 1px solid #FBC757;
}

.title .container span {
    color: #FBC757;
}

.circle-text {
    font-size: 32px; /* Adjust font size as needed */
    font-weight: bold;
    color: #f1f1f1; /* Change color as desired */
    text-align: center;
    padding: 20px;
}

.timer-section {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.timer-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
}

.image-container {
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* Bluish gradient */
    color: white;
    text-align: center;
    font-size: 30px; /* Adjust as needed */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    margin: 10px;
    flex-grow: 1; /* Equal width */
}




.wheel-section div[align="center"] {
    /* Styles for the centered content */
}


.wheel-section {
    padding: 72px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999999999999;
}

.wheel-container {
    position: relative;
    width: 600px;
    height: 600px;
}

.the_wheel {
    width: 100%;
    height: 100%;
    background-image: url('assets/inner-group-rotate.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.pointer {
    position: absolute;
    top: 8%;
    left: 50%;
    width: 67px;
    height: 67px;
    transform: translate(-50%, -50%);
    z-index: 20;
    cursor: pointer;
}

.power-controls {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20; /* Ensure it's above the wheel */
}

.spin_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* transform: translate(-55%, 20%); */
}


/* POP-UP SECTION */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999999999999;
}

.popup-header h2:nth-child(2) {
    color: #111111; 
    font-size: 40px;
}

.popup-header h2:nth-child(3) {
    color: red;
    font-size: 40px;
}


.popup-header h2, p, button {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.popup-content {
    /* background: #e3f5ff; */
    background-color: transparent;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}

.popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #FBC757; */
    background-color: transparent;
}

.popup-header .action-button {
    background: #57CDFF;
    color: #111111;
    height: 64px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

.close-button {
    align-self: flex-end;
    cursor: pointer;
}

.popup-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}



.popup-comments {
    margin-top: 20px;
    background: #f0f2f5; /* Facebook comment section color */
    border: 1px solid #ccd0d5;
    padding: 10px;
    overflow-y: auto;
}

.comment {
    background: white;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 15px;
    /* Additional styles to make it look like Facebook comments */
}


/* .popup {
    background-image: url('assets/img-overlay-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

.popup-content {
    width: 100%;
    height: 100%;
    background-image: url('assets/img-overlay-background.png');
    /* background-size: contain; */
    background-size: contain;
    overflow: visible;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}

/* FACEBOOK COMMENT SECTION */
.popup-comments {
    background-color: #f2f3f5; /* Facebook's comment section background color */
    border: 1px solid #ccd0d5;
    border-radius: 8px;
    padding: 15px;
    max-width: 500px; /* Adjust as needed */
    margin: auto;
}

.comments-title {
    font-size: 16px;
    font-weight: bold;
    color: #4b4f56; /* Facebook's text color */
    margin-bottom: 10px;
}

.comments-wrapper {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.comments-nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccd0d5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comments-nav .item {
    font-size: 14px;
    color: #3b5a96; /* Facebook's text color */
    cursor: pointer;
}

.comments-nav .item:hover {
    text-decoration: underline;
}

.comments-content {
    max-height: 200px;
    overflow-y: auto;
}

/* .comments-content .item {
    display: flex;
    margin-bottom: 10px;
} */

.comments-content .item {
    display: flex;
    align-items: flex-start; /* Aligns items to the start of the flex container */
    margin-bottom: 10px;
}

/* .avatar {
    width: 40px; 
    height: 40px; 
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url(assets/persona1.jpg);
    background-size: cover;
    background-position: center;
} */

.avatar {
    flex-shrink: 0; /* Prevents the avatar from shrinking */
    flex-grow: 0; /* Prevents the avatar from growing */
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

/* .comment {
    flex-grow: 1;
    background-color: #f2f3f5;
    padding: 8px;
    border-radius: 18px;
} */

.comment {
    flex-grow: 1; /* Allows the comment to grow to fill the remaining space */
    background-color: #f2f3f5;
    padding: 8px;
    border-radius: 18px;
    word-break: break-word; /* Ensures the text breaks to prevent horizontal overflow */
}












/* Add additional specific styles if needed */


/* Additional styles for .the_wheel if needed */

.static-crown {
    /* Ensure this div stays on top and does not spin */
    z-index: 10;
}




/* TABLET STYLES */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .timer-holder {
        flex-direction: column;
    }

    .popup-header h2:nth-child(2) {
        color: #070707; 
        font-size: 32px;
    }
    
    .popup-header h2:nth-child(3) {
        color: red;
        font-size: 32px;
    }
    
    
    .popup-header h2, p, button {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 20px;
    }
}


/* BIG PHONES SCREENS */
@media screen and (max-width: 549px) {
    .wheel-container {
        position: relative;
        width: 400px;
        height: 400px;
    }

    .power-controls {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20; /* Ensure it's above the wheel */
    }
    
    .spin_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 70px;
        height: 70px;
        cursor: pointer;
        /* transform: translate(-55%, 20%); */
    }

    .title .container {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .circle-text {
        font-size: 24px; /* Smaller font size for big phone screens */
    }

    .timer-holder {
        flex-direction: row; /* Keep in a row but adjust content */
        justify-content: space-between; /* Space out the elements */
        padding: 0 10px; /* Add padding on sides */
    }

    .image-container {
        flex-basis: 30%; /* Adjust the size of each container */
        padding: 10px; /* Reduce padding */
    }

    .decor {
        width: 80px;
        height: 80px;
        position: absolute;
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    .popup-header h2:nth-child(2) {
        color: #070707; 
        font-size: 24px;
    }
    
    .popup-header h2:nth-child(3) {
        color: red;
        font-size: 24px;
    }
    
    
    .popup-header h2, p, button {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }

    
}

/* SMALLER PHONE SCREENS */
@media screen and (max-width: 349px) {
    .wheel-container {
        position: relative;
        width: 300px;
        height: 300px;
    }

    .power-controls {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20; /* Ensure it's above the wheel */
    }
    
    .spin_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 70px;
        height: 70px;
        cursor: pointer;
        /* transform: translate(-55%, 20%); */
    }

    .title .container {
        padding: 5px; /* Even smaller padding for very small screens */
    }

    .circle-text {
        font-size: 20px; /* Further reduce font size for smaller screens */
    }

    .timer-holder {
        flex-direction: column; /* Stack elements vertically for very small screens */
        align-items: center; /* Align items to the center */
    }

    .image-container {
        width: 80%; /* Increase width for single column layout */
        margin-bottom: 10px; /* Add margin between elements */
    }

    .decor {
        width: 50px;
        height: 50px;
        position: absolute;
        background-size: cover;
        background-position: center;
        z-index: 0;
    }
}

@media screen and (max-width: 470px) {
    .popup-header h2:nth-child(2) {
        color: #070707; 
        font-size: 20px;
    }
    
    .popup-header h2:nth-child(3) {
        color: red;
        font-size: 20px;
    }
    
    
    .popup-header h2, p, button {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    .action-button {
        border-radius: 5px; /* Rounded corners */
        font-size: 16px; /* Slightly larger font size for readability */
        font-weight: bold; /* Bold font for emphasis */
        margin-top: 10px; /* Space above the button */
        cursor: pointer; /* Cursor indicates clickable */
        border: #032834 solid 1px;
    }

    .popup-content {
        margin-bottom: 33px;
    }
}




@media screen and (max-width: 402px) {
    .popup-header h2:nth-child(2) {
        color: #070707; 
        font-size: 20px;
    }
    
    .popup-header h2:nth-child(3) {
        color: red;
        font-size: 20px;
    }
    
    
    .popup-header h2, p, button {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    .action-button {
        border-radius: 5px; /* Rounded corners */
        font-size: 16px; /* Slightly larger font size for readability */
        font-weight: bold; /* Bold font for emphasis */
        margin-top: 10px; /* Space above the button */
        cursor: pointer; /* Cursor indicates clickable */
        border: #032834 solid 1px;
    }

    .popup-content {
        margin-bottom: 33px;
    }
}







/* THIS IS TEST */
/* For tablets */
@media screen and (max-width: 768px) {
    .title {
        height: auto; /* Make height flexible */
    }

    .title .container {
        border-radius: 30px; /* Slightly reduced border-radius */
        /* Adjust width and padding if needed */
    }

    .circle-text {
        font-size: smaller; /* Adjust font size for readability */
        /* Adjust line-height if needed */
    }
}

/* For mobile phones */
@media screen and (max-width: 480px) {
    .title {
        height: 60px;/* Further adjustments for mobile */
    }

    .title .container {
        border-radius: 20px; /* Even smaller border-radius */
        display: flex; /* Keep the elements in a row */
        flex-direction: column; /* Stack the elements vertically */
        align-items: center; /* Align items to the center */
        height: 60px;
        justify-content: center;
    }

    .circle-text {
        font-size: 20px; /* Smaller font size for mobile */
        /* Further adjust line-height if needed */
    }

    .wheel-section {
        padding: 24px 0;
    }
}
